<div class='body'>
  <div class='container'>
    <p id="notice"></p>
    <div class='row'>
      <div class='col-xs-3'>
        <h2>User info</h2>
        <table class='table'>
          <tr><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></tr>
          <tr>
    	      <th>name</th>
    	      <th><%= books.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @books.introduction %></th>
          </tr>
        </table>

        <div class='row'>
          <%= link_to 'edit', edit_user_path(current_user.id) %>
        </div>
        <h2>New book</h2>
        <%= form_with model:@book, local:true do |f| %>
            <div class="field row">
              <label for="book_title">Title</label>
              <%= f.text_field :title %>
            </div>

            <div class="field row">
              <label for="book_opinion">Opinion</label>
              <%= f.text_area :body %>
            </div>

            <div class="actions row">
              <%= f.submit 'Create Book' %>
            </div>
        <% end %>
      </div>

      <div class='col-xs-9'>
		    <h2>Book detail</h2>
		    <table class='table'>
		      <tr>

            <td>
              <%= attachment_image_tag books.user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "40x40" %><br>
              <% @books.name %>
            </td>
            <td><%= @books.title %></td>
            <td><%= @books.body %></td>

            <td><%= link_to 'Edits', edit_book_path(books) %></td>
            <td>Destroy</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
